<nav aria-label="Page navigation">
  <div class="pagination">
    <div class="page-item" [class.disabled]="currentPage === 1 || loading">
      <a class="page-link" (click)="changePage(1)">First</a>
    </div>
    <div class="page-item" [class.disabled]="currentPage === 1 || loading">
      <a class="page-link" (click)="changePage(currentPage - 1)"> &laquo; </a>
    </div>
    <div
      *ngFor="let page of pageButtons"
      class="page-item"
      [class.active]="page === currentPage && !loading"
    >
      <a (click)="changePage(page)" class="page-link">
        {{ page }}
      </a>
    </div>
    <div
      class="page-item"
      [class.disabled]="currentPage === totalPages || loading"
    >
      <a class="page-link" (click)="changePage(currentPage + 1)"> &raquo; </a>
    </div>
    <div
      class="page-item"
      [class.disabled]="currentPage === totalPages || loading"
    >
      <a class="page-link" (click)="changePage(totalPages)"> Last </a>
    </div>
  </div>
</nav>
