<div #modal class="layer" (click)="closeModal()" [class.hiddenModal]="!isOpen">
  <div class="modal" (click)="stopClose($event)">
    <div class="title">
      <h2>{{ title }}</h2>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div class="footer">
      <app-custom-button type="link" label="Cancel" (onClick)="closeModal()" />
      <app-custom-button
        type="primary"
        [label]="loading ? '..\.loading' : 'Submit'"
        [disabled]="disableSubmit"
        [loading]="loading"
        (onClick)="submit.emit()"
      />
    </div>
    <div style="text-align: right">
      <small class="changesHint" [class.showHint]="disableSubmit"
        >There is no changes</small
      >
    </div>
  </div>
</div>
